<h1>lists show / bookmark</h1>

<!--faire une itération pour afficher chaque bookmark -->

<!-- faire un link_to vers le form bookmark.new-->
<%= link_to "add new bookmark", new_list_bookmark_path(@list) %>
