<ul class="list-group mb-3">
    <% @bookmarks.each do |bookmark| %>
      <li class="list-group-item">
      <%= bookmark.comment %>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <%= link_to "Back", lists_path, class: "btn btn-success" %>
   <br>
  <br>
  <%= link_to "Add a bookmark",  new_list_bookmark_path(@list), class: "btn btn-success" %>
 <%= link_to "delete this list", list_path(@list), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this list?" } %>
